<div layout="row" layout-align="center center">
    <div flex="40" class="amount-block" layout="column" layout-align="center center">
        <span>{{$ctrl.amount}}</span>
    </div>
    <div class="action-block" flex="20" layout="column">
        <md-button class="md-icon-button" ng-click="$ctrl.add()"><i class="material-icons">add</i></md-button>
        <md-button class="md-icon-button" ng-click="$ctrl.remove()"><i class="material-icons">remove</i></md-button>
    </div>
    <div flex="40" ng-if="$ctrl.confirm" layout-margin>
        <add-cart-component amount="$ctrl.amount" id="$ctrl.id"></add-cart-component>
    </div>
</div>