header {
  & > nav {
    &.navbar {
      height: 40px;
      margin-bottom: 10px;
      & > a {
        &.logo {
          float: left;
          img {
            height: 40px;
          }
        }
      }
      & > ul {
        list-style-type: none;
        text-align: center;
        margin-top: 0.8em;
        & > li {
          padding: 0 5px;
          vertical-align: top;
          font-size: 12px;
          font-weight: bold;
          display: inline-block;
          text-transform: uppercase;

          &.right {
            float: right;
          }
        & > a {
          position: relative;
          padding: 6px 24px 0 0;
          & > i {
            position: absolute;
            right: 0;
            top: 0;
          }
        }
        }
      }
    }
  }
}