<header>
    <nav class="navbar">
        <ul>
            <li hide-gt-xs class="left">
                <md-menu>
                    <md-button ng-click="$mdMenu.open($event)" class="md-icon-button" aria-label="menu">
                        <md-icon class="material-icons">menu</md-icon>
                    </md-button>
                    <md-menu-content>
                        <md-menu-item>
                            <md-button ui-sref="home.category({type: 'plates'})">Home</md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button><span>Shop</span><i class="material-icons caret">arrow_drop_down</i></md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button>Journal</md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button><span>More</span><i class="material-icons caret">arrow_drop_down</i></md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </li>
            <li class="logo-xs"><img ng-src="{{::$ctrl.logoUrl}}" alt="Hero" /></li>
            <li hide-xs><md-button ui-sref="home.category({type: 'plates'})">Home</md-button></li>
            <li hide-xs><md-button><span>Shop</span><i class="material-icons caret">arrow_drop_down</i></md-button></li>
            <li hide-xs><md-button>Journal</md-button></li>
            <li hide-xs><md-button><span>More</span><i class="material-icons caret">arrow_drop_down</i></md-button></li>
            <li class="right">
                <cart-icon-component store="$ctrl.store"></cart-icon-component>
            </li>
        </ul>
    </nav>
</header>
<section>
    <ui-view></ui-view>
</section>