home-component {
  header {
    & > nav {
      &.navbar {
        height: 60px;
        margin-bottom: 12px;
        & > ul {
          list-style-type: none;
          text-align: center;
          margin: 0;
          padding-left: 0;
          & > li {
            vertical-align: top;
            display: inline-block;
            text-transform: uppercase;
            margin-top: 20px;

            &.logo-xs {
              @media screen and (min-width: 600px) {
                float: left;
              }
              margin-top: 0;
            }
            &.left {
              float: left;
            }
            &.right {
              float: right;
            }
            & > .md-button {
              font-size: 12px;
              font-weight: bold;
              position: relative;
              padding: 0 6px 0 0;
              margin: 0;
              &.md-icon-button {
                padding: 8px;
              }
              & > i.caret {
                position: absolute;
                right: 0;
                top: 5px;
              }
            }
          }
        }
      }
    }
  }
}
