<md-button class="md-button-text" hide-xs ng-click="$ctrl.openCartDialog($event)" >
    <span class="button-text">My Cart</span>
    <span class="count" ng-if="$ctrl.count > 0">({{$ctrl.count}})</span>
    <i class="material-icons caret">arrow_drop_down</i>
</md-button>
<md-button class="md-icon-button xs-button" hide-gt-xs ng-click="$ctrl.openCartDialog($event)">
    <i class="material-icons">lock_outline</i>
</md-button>
<span class="xs-count" hide-gt-xs ng-if="$ctrl.count > 0">({{$ctrl.count}})</span>