cart-icon-component {
  .md-button {
    font-size: 12px;
    font-weight: bold;
    position: relative;
    padding: 0 18px 0 0;
    margin: 0;
    &.md-icon-button {
      padding: 8px;
    }
    & > .button-text {
      padding-left: 10px;
    }
    & > i.caret {
      position: absolute;
      right: 0;
      top: 5px;
    }
    &.xs-button + .xs-count{
      margin-left: -10px;
    }
  }
  .xs-count {
    font-size: 12px;
  }
}