detail-component {
  $img-width: 1000px;
  $img-height: 450px;

  .container {
    border-top: 1px solid #E4E4E4;
    padding-top: 20px;
  }
  .detail-card {
    margin: 0 6%;
    & > .detail-img {
      width: $img-width;
      height: $img-height;
      margin: 0 30px;
    }
    & > .info {
      & > .subtitle {
        opacity: 0.8;
      }
      & > .price {
        font-weight: bold;
        color: #AB9F9F;
      }
      & > .title {
        font-size: 2em;
        font-weight: bold;
      }
      & > .description {
        padding-bottom: 25px;
        border-bottom: 1px solid #E4E4E4;
        margin-bottom: 10px;
      }
    }
  }
  .breadcrumb {
    margin-bottom: 60px;
    & > .breadcrumb-active {
      font-weight: bold;
    }
  }
}