<md-dialog aria-label="My Cart">
    <md-toolbar class="md-menu-toolbar">
        <div class="md-toolbar-tools" layout="row" layout-align="end center">
            <img flex="40" ng-src="{{::$ctrl.logoUrl}}" alt="Hero" hide-gt-xs />
            <cart-icon-component class="text-right" flex="60" store="$ctrl.store"></cart-icon-component>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <md-list>
            <md-list-item class="md-3-line" ng-repeat="product in $ctrl.products">
                <img class="md-avatar thumbnail" ng-src="{{product.src}}" alt="{{product.title}}" />
                <div class="md-list-item-text" layout="column">
                    <span class="title primary-text">{{product.title}}</span>
                    <span>x {{product.amount}}</span>
                    <span class="subtitle">{{product.brand}}</span>
                    <span class="primary-text">{{product.price | currency}}</span>
                </div>
                <md-button class="list-item-button md-icon-button" ng-click="$ctrl.removeProduct(product.id)"><i class="material-icons">clear</i></md-button>
            </md-list-item>
        </md-list>
    </md-dialog-content>
    <md-dialog-actions class="fixed-height" layout="column" layout-align="center start">
        <div class="footer subtitle" layout="row">
            <span flex="50">TOTAL</span>
            <span class="text-right" flex="50">{{$ctrl.total | currency}}</span>
        </div>
        <div class="footer" layout="row">
            <md-button class="action-button" ng-click="$ctrl.goToCart()">VIEW CART</md-button>
            <md-button class="action-button primary-button">CHECKOUT</md-button>
        </div>
    </md-dialog-actions>
</md-dialog>