md-dialog {
  width: 400px;
  .md-toolbar-tools {
    .text-right {
      text-align: right;
    }
    cart-icon-component {
      .md-button-text, .xs-count {
        text-decoration: underline;
      }
    }
  }
  & > md-dialog-content {
    md-list {
      & > md-list-item {
        .thumbnail {
          width: 80px;
          height: 80px;
        }
        .md-list-item-text {
          font-size: 0.7em;
          .title {
            font-size: 1.3em;
          }
          .primary-text {
            font-weight: bold;
          }
          .subtitle {
            opacity: 0.8;
          }
        }
        .list-item-button {
          margin-top: 10px !important;
        }
      }
    }
  }
  & > md-dialog-actions {
    &.fixed-height {
      min-height: 80px;
    }
    .footer {
      width: 100%;
      &.subtitle {
        font-size: 0.8em;
        font-weight: bold;
        color: #C2C2C2;
      }
    }
    .text-right {
      text-align: right;
    }
    .action-button {
      padding: 0 24px;
      width: 50%;
      &.primary-button {
        color: white;
        background-color: #1D1D20;
        &:hover,&:focus {
          background-color: #4A4A4E;
        }
      }
    }
  }
}