category-component {
  .banner {
    height: 200px;
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
    & > img {
      width: 100%;
      min-height: 100%;
    }
    & > .block {
      position: absolute;
      left: 25%;
      top: 0;
      height: 100%;
      width: 50%;
      background-color: #3A3A35;
      & > .title {
        color: white;
        text-transform: capitalize;
        font-weight: bold;
        font-size: 2em;
        padding: 10px;
        margin: 10px;
        border-bottom: 1px solid #E4E4E4;
      }
      & > .body {
        font-size: 0.8em;
        color: white;
        padding: 0 20px;
        text-align: center;
      }
    }
  }
  .product-list {
    text-align: center;
    margin: 16px;
  }
}
